* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 110px;
    width: 100%;
    background: black;
  }
  .heading ul {
    display: flex;
  }
  .logo a {
    color: white;
    transition-duration: 1s;
    font-weight: 800;
  }
  .logo a:hover {
    color: red;
    transition-duration: 1s;
  }
  .heading ul li {
    list-style: none;
  }
  .heading ul li a {
    margin: 5px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    position: relative;
    color: white;
    margin: 2px 14px;
    font-size: 18px;
    transition-duration: 1s;
  }
  .heading ul li a:active {
    color: red;
  }
  .heading ul li a:hover {
    color: red;
    transition-duration: 1s;
  }
  
  .heading ul li a::before {
    content: "";
    height: 2px;
    width: 0px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: white;
    transition-duration: 1s;
  }
  .heading ul li a:hover::before {
    width: 100%;
    transition-duration: 1s;
    background-color: red;
  }
  #input {
    height: 30px;
    width: 300px;
    text-decoration: none;
    border: 0px;
    padding: 5px;
  }
  .logo a {
    color: white;
    font-size: 35px;
    font-weight: 500;
    text-decoration: none;
  }
  ion-icon {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
  }
  ion-icon:hover {
    cursor: pointer;
  }
  .search a {
    display: flex;
  }
  header a ion-icon {
    position: relative;
    right: 3px;
  }
  
  .img-slider img {
    height: 720px;
    width: 1080px;
  }
  @keyframes slide {
    0% {
      left: 0px;
    }
    15% {
      left: 0px;
    }
    20% {
      left: -1080px;
    }
    32% {
      left: -1080px;
    }
    35% {
      left: -2160px;
    }
    47% {
      left: -2160px;
    }
    50% {
      left: -3240px;
    }
    63% {
      left: -3240px;
    }
    66% {
      left: -4320px;
    }
    79% {
      left: -4320px;
    }
    82% {
      left: -5400px;
    }
    100% {
      left: 0px;
    }
  }
  .img-slider {
    display: flex;
    float: left;
    position: relative;
    width: 1080px;
    height: 720px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition-duration: 2s;
  }
  
  .heading1 {
    opacity: 0;
  }
  .search {
    display: flex;
    position: relative;
  }
  .section1 {
    width: 1080px;
    overflow: hidden;
  
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  
#market {
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
  }
 .items {
    margin: 10px;
    width: 200px;
    height: 300px;
    background-color: white;
    border: 3px solid black;
    border-radius: 12px;
  }
 .items .name {
    text-align: center;
    background-color: black;
    height: 24px;
    padding-top: 1px;
    color: white;
    font-weight: 500;
    margin: 0;
  }
  .items .price {
    float: left;
    padding-left: 10px;
    display: block;
    width: 100%;
    color: darkslategrey;
    font-weight: 500;
  }
  .items .info {
    padding-left: 10px;
    font-weight: 500;
    color: darkslategray;
  }
 .items .img img {
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    /* border-radius: 12px; */
    transition-duration: 0.8s;
  }
 .items .img {
    overflow: hidden;
    margin: 0;
  }
.items:hover .img img {
    transform: scale(1.2);
    transition-duration: 0.8s;
    border-radius: 12px;
  }
  .footer:hover {
    color: red;
  }
  body{
    margin-bottom: 500px;
  }
#footer{
  position: absolute;
  height: 3rem;

  background-color: black;
  bottom: 0;
  left: 0;
  right: 0px;    
  flex-direction: column;
  display: flex;
}
#page-wrapper{
  position: relative;
  min-height: 100vh;
}
#content-wrapper{
  padding-bottom: 3rem;
}
/* original footer below */
/* 
  footer {
    display: flex;

    background-color: black;
    align-items: center;
    color: white;
  } */
  footer{
    background: black;
    color: white;
  }
  .footer1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-top: 15px;
  }
  .social-media {
    display: flex;
    justify-content: center;
    color: white;
    flex-wrap: wrap;
  }
  .social-media a {
    color: white;
    margin: 20px;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
  }
  .social-media a ion-icon {
    color: white;
    background-color: black;
  }
  .social-media a:hover ion-icon {
    color: red;
    transform: translateY(5px);
  }
  .footer2 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
  }
  .footer {
    font-weight: 1200;
    transition-duration: 1s;
  }
  .footer0:hover {
    color: red;
  }
  .footer2 .heading {
    font-weight: 900;
    font-size: 18px;
  }
  .footer3 {
    margin-top: 60px;
    /* margin-bottom: 20px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer2 .heading:hover {
    color: red;
  }
  .footer2 .div:hover {
    transform: scale(1.05);
  }
  .footer3 h4 {
    margin: 0 10px;
  }
  .footer2 div {
    margin: 10px;
  }
  .menu {
    visibility: hidden;
  }
  .heading1 .ham:active {
    color: red;
  }
  .items {
    overflow: hidden;
  }
  .ham,
  .close {
    cursor: pointer;
  }
  
  @media screen and (max-width: 1250px) {
    .heading ul li {
      display: none;
    }
  
    .items {
      transform: scale(0.9);
    }
    .img-slider img {
      height: 60vw;
      width: 80vw;
    }
    .ham:active {
      color: red;
    }
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .menu a ion-icon {
      position: absolute;
    }
  
    @keyframes slide1 {
      0% {
        left: 0vw;
      }
      15% {
        left: 0vw;
      }
      20% {
        left: -80vw;
      }
      32% {
        left: -80vw;
      }
      35% {
        left: -160vw;
      }
      47% {
        left: -160vw;
      }
      50% {
        left: -240vw;
      }
      63% {
        left: -240vw;
      }
      66% {
        left: -320vw;
      }
      79% {
        left: -320vw;
      }
      82% {
        left: -400vw;
      }
      100% {
        left: 0vw;
      }
    }
    .menu ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: black;
      left: 0;
      top: 0;
      z-index: 11;
      align-items: center;
      justify-content: center;
      opacity: 1;
    }
    .close {
      z-index: 34;
  
      color: white;
      background-color: black;
    }
    .close:active {
      color: red;
    }
    .menu ul li {
      list-style: none;
      margin: 20px;
      border-top: 3px solid white;
      width: 80%;
      text-align: center;
  
      padding-top: 10px;
    }
    .menu ul li a {
      text-decoration: none;
      padding-top: 10px;
      color: white;
      font-weight: 900;
    }
    .menu ul li a:hover {
      color: red;
    }
    .img-slider {
      display: flex;
      float: left;
      position: relative;
      width: 80%;
      height: 60%;
      animation-name: slide1;
      animation-duration: 10s;
      animation-iteration-count: infinite;
      transition-duration: 2s;
    }
    .section1 {
      width: 80%;
      overflow: hidden;
  
      justify-content: center;
      align-items: center;
      margin: 0px auto;
    }
  
    .heading1 {
      opacity: 1;
      position: relative;
      bottom: 8px;
    }
    .search a {
      display: flex;
      flex-wrap: nowrap;
    }
  
    .heading1 .ham {
      background-color: black;
      color: white;
    }
    #input {
      width: 200px;
      flex-shrink: 2;
    }
    header {
      height: 150px;
    }
  }
  @media screen and (max-width: 550px) {
    .heading ul li {
      display: none;
    }
    .heading1 {
      opacity: 1;
  
      bottom: 8px;
    }
  
    header {
      height: 250px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
    }
    #input {
      width: 150px;
    }
    .close {
      z-index: 34;
    }
  
    .search a {
      display: flex;
      flex-wrap: nowrap;
    }
  }
















.webdesigntuts-workshop {
	background: #151515;
	height: 100%;
	position: absolute;
	text-align: center;
	width: 100%;
}

.webdesigntuts-workshop:before,
.webdesigntuts-workshop:after {
	content: '';
	display: block;
	height: 1px;
	left: 50%;
	margin: 0 0 0 -400px;
	position: absolute;
	width: 800px;
}

.webdesigntuts-workshop:before {
	background: #444;
	background: linear-gradient(left, #151515, #444, #151515);
	top: 192px;
}

.webdesigntuts-workshop:after {
	background: #000;
	background: linear-gradient(left, #151515, #000, #151515);
	top: 191px;
}

.webdesigntuts-workshop form {
	background: #111;
	background: linear-gradient(#1b1b1b, #111);
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: inset 0 0 0 1px #272727;
	display: inline-block;
	font-size: 0px;
	margin: 150px auto 0;
	padding: 20px;
	position: relative;
	z-index: 1;
}

.webdesigntuts-workshop input {
	background: #222;
	background: linear-gradient(#333, #222);
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	text-shadow: 0 -1px 0 #000;
	width: 200px;
}

.ie .webdesigntuts-workshop input {
	line-height: 40px;
}

.webdesigntuts-workshop input::-webkit-input-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:-moz-placeholder {
   color: #888;
}

.webdesigntuts-workshop input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: #393;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

.webdesigntuts-workshop input:focus::-webkit-input-placeholder {
	color: #efe;
}

.webdesigntuts-workshop input:focus:-moz-placeholder {
	color: #efe;
}

.webdesigntuts-workshop button {
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 0 5px 5px 0;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	display: block;
	float: left;
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 80px;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	color: #5f5;
	outline: none;
}

.webdesigntuts-workshop button:active {
	background: #292929;
	background: linear-gradient(#393939, #292929);
	box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
	top: 1px;
}

@keyframes glow {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}




